<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html')%>
</head>
<body>
    
    <%- include ('partials/navigation.html')%>
<br><br>
    <div class="container razas">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Lista de razas y subrazas encontradas en la BD.</li>
                <% Object.entries(data.message).forEach(function(key,value){ %>
                    <li class="list-group-item">
                        <% key.forEach(function(value,index){ %>
                            <% if (index == 0) { %> 
                                <%= 'Raza:' %>
                                <a href="/imgRazas?raza=<%= value %>"> <%= value %> </a>
                            <% } %>

                            <% if (index == 1 && value != "") { %> 
                                <i><%= ` Subrazas: ${value}` %> </i>
                            <% } %>

                            <% if (index > 1 && value != "") { %> 
                                <i><%= `,${value}` %> </i>
                            <% } %>
                        <% }) %>
  
                    </li>
                <% }) %>
          </ul>
    </div>

    

    <%- include ('partials/footer.html')%>

</body>
</html>